<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<properties>
		<property name="logPath">../logs</property>
	</properties>

	<Appenders>
		<RollingFile name="defaultFile" filename="${logPath}/${sys:haetae.log.name}.log"
			filepattern="${logPath}/${sys:haetae.log.name}-%d{yyyy-MM-dd-HH}.log">
			<PatternLayout pattern="%-d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%p]%c- %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="org.apache.zookeeper" additivity="false" />
		<Root level="INFO">
			<AppenderRef ref="defaultFile" />
		</Root>
	</Loggers>
</Configuration>